<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string># Getting Started
# 1. Type 'tw setup'
# 	You will be asked to authenticate with Twitter.
#	You'll be given a pin number, copy it.
# 2. Type 'tw pin &lt;your pin number&gt;'
#	You'll be authenticated to Twitter.
#	Done.
#
# Type 'tw help' for a list of commands.

TW=$(php -f script.php -- "{query}");
echo $TW;</string>
	<key>disabled</key>
	<false/>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<true/>
	<key>escapequerybrackets</key>
	<false/>
	<key>escapequeryquotes</key>
	<true/>
	<key>escapequerysemicolons</key>
	<false/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>tw</string>
	<key>logging</key>
	<false/>
	<key>parameter</key>
	<integer>3</integer>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Send tweets, DMs, follow users, etc all via Alfred.</string>
	<key>title</key>
	<string>AlfredTweet</string>
</dict>
</plist>
