<?xml version="1.0"?>
<settings><oauth_token>53223-4Wk1iUJWu5c5gxsl7J1mgUynX2rCYQDiecSdRDBUQ</oauth_token><oauth_token_secret>B6k16fXDW5zghXDF8aMCa1K0BwrghhykSXNof6hoVA</oauth_token_secret><pin>4743555</pin><split_tweets>1</split_tweets><tweets_command>tweets</tweets_command><mentions_command>mentions</mentions_command><dm_command>dm</dm_command><info_command>info</info_command><follow_command>follow</follow_command><unfollow_command>unfollow</unfollow_command><create_command>create</create_command><delete_command>delete</delete_command><lists_command>lists</lists_command><add_command>add</add_command><remove_command>remove</remove_command><block_command>block</block_command><unblock_command>unblock</unblock_command><search_command>search</search_command><playing_command>playing</playing_command><playing_format>#Nowplaying @song by @artist in @player @url #alfredtweet</playing_format></settings>
