[submodule "oh-my-zsh.symlink"]
	path = oh-my-zsh.symlink
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "urxvt.symlink/perls"]
	path = urxvt.symlink/perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "base16-shell.symlink"]
	path = base16-shell.symlink
	url = git@github.com:base16-project/base16-shell.git
