/vim.symlink/.netrwhist
/vim.symlink/autoload
/vim.symlink/plugged
/vim.symlink/tmp

/config/emacs.symlink/elpa
/config/emacs.symlink/places
/config/emacs.symlink/.last-package-update-day
/config/emacs.symlink/.cache
/config/emacs.symlink/.lsp-session-*
/config/emacs.symlink/projectile-*
/config/emacs.symlink/projects

.luarc.json
