/.vim/.netrwhist
/.vim/autoload
/.vim/plugged
/.vim/tmp

/.config/emacs/elpa
/.config/emacs/places
/.config/emacs/.last-package-update-day
/.config/emacs/.cache
/.config/emacs/.lsp-session-*
/.config/emacs/projectile-*
/.config/emacs/projects
/.config/emacs/recentf
/.config/emacs/transient
/.config/emacs/url
/.config/emacs/eshell

.luarc.json
