/.vim/.netrwhist
/.vim/autoload
/.vim/plugged
/.vim/tmp

/.config/emacs/elpa
/.config/emacs/places
/.config/emacs/.last-package-update-day
/.config/emacs/.cache
/.config/emacs/.lsp-session-*
/.config/emacs/projects
/.config/emacs/url
/.config/emacs/history
/.config/emacs/var

.luarc.json
