<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Apple Mail</string>
	<key>CFBundleExecutable</key>
	<string>Apple Mail Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Mail Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.2</string>
	<key>CFBundleVersion</key>
	<string>11F</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12C37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>QSActionsDisabled</key>
	<dict>
		<key>QSAppleMailMailboxOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>revealMailbox:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.mailbox</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Open Mailbox</string>
		</dict>
		<key>QSAppleMailMessageDeleteAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>deleteMessage:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Delete Message</string>
		</dict>
		<key>QSAppleMailMessageMoveAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>moveMessage:toMailbox:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>indirectTypes</key>
			<array>
				<string>qs.mail.mailbox</string>
			</array>
			<key>name</key>
			<string>Move to Mailbox...</string>
		</dict>
		<key>QSAppleMailMessageOpenAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSAppleMailPlugIn_Action</string>
			<key>actionSelector</key>
			<string>revealMessage:</string>
			<key>directTypes</key>
			<array>
				<string>qs.mail.message</string>
			</array>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Open Message</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Mail &amp; Chat</string>
		</array>
		<key>description</key>
		<string>Enables browsing and email actions for Apple Mail</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Apple Mail Plugin&lt;/h2&gt;
&lt;p&gt;This plugin lets you browse your mailboxes and messages contained in Apple Mail.&lt;/p&gt;
&lt;p&gt;Just call up Mail.app in the first pane and hit → or /. It will reveal all mailboxes and folders for each account. Arrowing into a mailbox reveals all messages in that folder. The selected message can be viewed with Quick Look or "opened" to reveal it in Mail.&lt;/p&gt;
&lt;p&gt;This plugin also allows actions for composing messages or sending messages directly (via the E-mail Support plugin) to funciton based on settings in Apple Mail.&lt;/p&gt;
&lt;!-- ### Actions ###

Get New Mail - Recieves new mails for all accounts.
Open New Messages - Opens all unread messages.
Open Mailbox - When a mailbox is selected in the first pane, this actions opens it in Mail.app.
Open Message - When a message is selected in the first pane, this actions opens it in its own window in Mail.app
Move to Mailbox... - When a message is selected in the first pane, this action moves the message from the current mailbox into another one. The new mailbox can be selected in the third pane.
Delete Message - Deletes the selected message from a mailbox.
Note: It has only been tested with IMAP accounts. --&gt;</string>
		<key>icon</key>
		<string>com.apple.Mail</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.Mail</string>
		</array>
	</dict>
	<key>QSPresetAdditionsDisabled</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetUnreadMail</string>
			<key>icon</key>
			<string>com.apple.mail</string>
			<key>name</key>
			<string>Unread Messages</string>
			<key>source</key>
			<string>QSUnreadMailSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSAppleMailPlugIn_Action</key>
			<string>QSAppleMailPlugIn_Action</string>
		</dict>
		<key>QSApplicationActions</key>
		<dict>
			<key>com.apple.mail</key>
			<dict>
				<key>QSMailGetNewMailCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSMailGetNewMailCommand</string>
					<key>icon</key>
					<string>com.apple.mail</string>
					<key>name</key>
					<string>Get New Mail</string>
				</dict>
				<key>QSMailOpenNewMailCommand</key>
				<dict>
					<key>actionClass</key>
					<string>QSCommandObjectHandler</string>
					<key>command</key>
					<string>QSMailOpenNewMailCommand</string>
					<key>icon</key>
					<string>com.apple.mail</string>
					<key>name</key>
					<string>Open New Mail</string>
				</dict>
			</dict>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
		<key>QSBundleDrawingHandlers</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailMediator</string>
		</dict>
		<key>QSCommands</key>
		<dict>
			<key>QSMailGetNewMailCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>AppleScriptRunAction</string>
					<key>directResource</key>
					<dict>
						<key>bundle</key>
						<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
						<key>path</key>
						<string>Contents/Resources/Scripts/Get New Mail.scpt</string>
					</dict>
				</dict>
				<key>name</key>
				<string>Get New Mail</string>
			</dict>
			<key>QSMailOpenNewMailCommand</key>
			<dict>
				<key>command</key>
				<dict>
					<key>actionID</key>
					<string>AppleScriptRunAction</string>
					<key>directResource</key>
					<dict>
						<key>bundle</key>
						<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
						<key>path</key>
						<string>Contents/Resources/Scripts/Open New Mail.scpt</string>
					</dict>
				</dict>
				<key>name</key>
				<string>Open New Messages</string>
			</dict>
		</dict>
		<key>QSFileObjectCreationHandlers</key>
		<dict>
			<key>com.apple.mail.emlx</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
		<key>QSMailMediators</key>
		<dict>
			<key>com.apple.mail</key>
			<string>QSAppleMailMediator</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSUnreadMailParent</key>
			<string>QSUnreadMailSource</string>
			<key>qs.mail.mailbox</key>
			<string>QSAppleMailPlugIn_Source</string>
			<key>qs.mail.message</key>
			<string>QSAppleMailPlugIn_Source</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSUnreadMailSource</key>
			<string>QSUnreadMailSource</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.Quicksilver.QSEmailSupport</string>
				<key>name</key>
				<string>Mail Support</string>
			</dict>
		</array>
		<key>version</key>
		<string>3926</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>MailMailbox</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>mailbox.icns</string>
		</dict>
		<key>MailMailbox-Drafts</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>Drafts.icns</string>
		</dict>
		<key>MailMailbox-Inbox</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>mailbox.icns</string>
		</dict>
		<key>MailMailbox-Junk</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>Junk.icns</string>
		</dict>
		<key>MailMailbox-Out</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>mailbox.icns</string>
		</dict>
		<key>MailMailbox-Sent</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>Sent.icns</string>
		</dict>
		<key>MailMessage</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSAppleMailPlugIn</string>
			<key>resource</key>
			<string>Mail.icns</string>
		</dict>
	</dict>
</dict>
</plist>
