<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>command</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>103</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchTracks</string>
			<key>command</key>
			<string>QSiTunesSearchTracks</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Tracks</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>C349A55D-8908-4070-A50E-DCEEEEB69655</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directID</key>
				<string>/Users/leo/Dropbox/Home/bin/spotify_play_previous.applescript</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>123</integer>
			<key>modifiers</key>
			<integer>12321065</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating2</string>
			<key>command</key>
			<string>QSiTunesSetRating2</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 2</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayPauseCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseRating</string>
			<key>command</key>
			<string>QSiTunesDecreaseRating</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Decrease Rating</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseRating</string>
			<key>command</key>
			<string>QSiTunesIncreaseRating</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Increase Rating</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>command</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>111</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPauseCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesEQToggleTrigger</string>
			<key>command</key>
			<string>QSiTunesEQToggleCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Toggle iTunes Equalizer</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating1</string>
			<key>command</key>
			<string>QSiTunesSetRating1</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 1</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesNextSongTrigger</string>
			<key>command</key>
			<string>QSiTunesNextSongCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAlbums</string>
			<key>command</key>
			<string>QSiTunesSearchAlbums</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Albums</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating5</string>
			<key>command</key>
			<string>QSiTunesSetRating5</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 5</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesMute</string>
			<key>command</key>
			<string>QSiTunesMute</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>109</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>command</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Show Playing Track</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAll</string>
			<key>command</key>
			<string>QSiTunesSearchAll</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search iTunes</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating0</string>
			<key>command</key>
			<string>QSiTunesSetRating0</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 0</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPreviousSongTrigger</string>
			<key>command</key>
			<string>QSiTunesPreviousSongCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchArtists</string>
			<key>command</key>
			<string>QSiTunesSearchArtists</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Artists</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating4</string>
			<key>command</key>
			<string>QSiTunesSetRating4</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 4</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>B0029225-AE13-4D49-847F-37B1AC979249</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directID</key>
				<string>/Users/leo/Dropbox/Home/bin/spotify_play_next.applescript</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>124</integer>
			<key>modifiers</key>
			<integer>12321065</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating3</string>
			<key>command</key>
			<string>QSiTunesSetRating3</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 3</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>54948BED-E50E-4A77-9FCD-BBE8F021E557</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>AppleScriptRunAction</string>
				<key>directID</key>
				<string>/Users/leo/Dropbox/Home/bin/spotify_play_pause.applescript</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>49</integer>
			<key>modifiers</key>
			<integer>1835305</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
