<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C60</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>FaceTime</string>
	<key>CFBundleExecutable</key>
	<string>FaceTime Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.QSFaceTime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FaceTime Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4G2008a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12C37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0452</string>
	<key>DTXcodeBuild</key>
	<string>4G2008a</string>
	<key>QSActions</key>
	<dict>
		<key>QSFacetimeAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSQSFacetimeActionProvider</string>
			<key>actionSelector</key>
			<string>startFaceTimeWith:</string>
			<key>directTypes</key>
			<array>
				<string>qs.contact.email</string>
				<string>qs.contact.phone</string>
			</array>
			<key>icon</key>
			<string>com.apple.FaceTime</string>
			<key>name</key>
			<string>FaceTime</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
		</array>
		<key>description</key>
		<string>Initiate FaceTime with Contacts</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;FaceTime&lt;/h2&gt;
&lt;p&gt;This plug-in adds a FaceTime action.&lt;/p&gt;
&lt;p&gt;With a phone number, e-mail address, or contact&lt;sup id="fnref:1"&gt;&lt;a href="#fn:1" rel="footnote"&gt;1&lt;/a&gt;&lt;/sup&gt; selected, choose the FaceTime action in the second pane.&lt;/p&gt;
&lt;p&gt;The FaceTime application will ask you to confirm before actually contacting the person.&lt;/p&gt;
&lt;div class="footnote"&gt;
&lt;hr&gt;
&lt;ol&gt;
&lt;li id="fn:1"&gt;
&lt;p&gt;For contacts, the first listed e-mail address will be used. This may or may not be what you want. You should generally select a specific phone number or e-mail address.&amp;#160;&lt;a href="#fnref:1" rev="footnote" title="Jump back to footnote 1 in the text"&gt;&amp;#8617;&lt;/a&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ol&gt;
&lt;/div&gt;</string>
		<key>icon</key>
		<string>com.apple.FaceTime</string>
		<key>name</key>
		<string>FaceTime</string>
		<key>relatedBundles</key>
		<array>
			<string>com.apple.FaceTime</string>
		</array>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSQSFacetimeActionProvider</key>
			<string>QSQSFacetimeActionProvider</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>bundles</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FaceTime</string>
				<key>id</key>
				<string>com.apple.FaceTime</string>
				<key>version</key>
				<string>1.0</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
