<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Calendar</string>
	<key>CFBundleExecutable</key>
	<string>Calendar Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSiCalModule</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Calendar Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleVersion</key>
	<string>11D</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4F250</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12A264</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0440</string>
	<key>DTXcodeBuild</key>
	<string>4F250</string>
	<key>NSPrincipalClass</key>
	<string>QSiCalModule</string>
	<key>QSActions</key>
	<dict>
		<key>QSiCalCreateEventAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createEvent:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.iCal</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Create Calendar Event</string>
		</dict>
		<key>QSiCalCreateToDoAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSiCalModule</string>
			<key>actionSelector</key>
			<string>createToDo:inCalendar:</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>icon</key>
			<string>com.apple.iCal</string>
			<key>indirectOptional</key>
			<true/>
			<key>name</key>
			<string>Create Calendar To-Do</string>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>QSApp</string>
		<key>categories</key>
		<array>
			<string>Calendar</string>
		</array>
		<key>description</key>
		<string>Adds support for creating Events and To-Dos with Calendars on your Mac</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Calendar Plugin&lt;/h2&gt;
&lt;p&gt;This plugin adds actions for creating events and To-Dos from Quicksilver&lt;/p&gt;
&lt;h3&gt;Actions&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt;Create Calendar Event&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This action takes text from Quicksilver's 1st pane, and adds it as an event to your selected Calendar in Quicksilver's 3rd pane.&lt;br&gt;
Examples of text could be &lt;code&gt;Dinner with Tom next Tuesday&lt;/code&gt; or &lt;code&gt;Visit mum at 3pm&lt;/code&gt;.&lt;/p&gt;
&lt;p&gt;You can improve how an event displays in your Calendar by separating the name of the event and the time it takes place with two dashes &lt;code&gt;--&lt;/code&gt;&lt;br&gt;
Using &lt;code&gt;Next Tuesday -- Dinner with Tom&lt;/code&gt; will create an event called just &lt;code&gt;Dinner with Tom&lt;/code&gt; in your calendar.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Create Calendar To-Do&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This action takes text from Quicksilver's 1st pane, and adds it as an To-Do to your selected Calendar in Quicksilver's 3rd pane.  &lt;br&gt;
If you do not see all your calendars appear in Quicksilver's 3rd pane, this is because not all calendars support To-Dos.&lt;br&gt;
Examples of text could be &lt;code&gt;Do the shopping&lt;/code&gt; or &lt;code&gt;Pick up the kids from school&lt;/code&gt;.&lt;/p&gt;
&lt;p&gt;You can set the priority of an event by prefixing your event with any number of exclamation marks &lt;code&gt;!&lt;/code&gt;&lt;br&gt;
&lt;em&gt;One&lt;/em&gt; exclamantion mark gives the To-Do a &lt;em&gt;low&lt;/em&gt; priority, &lt;em&gt;two&lt;/em&gt; give the To-Do a &lt;em&gt;medium&lt;/em&gt; priority and &lt;em&gt;three&lt;/em&gt; gives it a &lt;em&gt;high&lt;/em&gt; priority.&lt;/p&gt;
&lt;p&gt;&lt;code&gt;!! This is a medium priority todo&lt;/code&gt;&lt;br&gt;
&lt;code&gt;This todo has no priority set&lt;/code&gt;&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.iCal</string>
		<key>qsversion</key>
		<string>31DE</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleDrawingHandlers</key>
		<dict>
			<key>com.apple.iCal</key>
			<string>QSiCalModule</string>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>calendarIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSiCalModule</string>
			<key>resource</key>
			<string>bookmark.icns</string>
		</dict>
	</dict>
</dict>
</plist>
