<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>#Desc:	Calls Taskwarrior
#Use:	task &lt;query&gt;
#Ex:	task add remember the milk due:tomorrow pri:H +grocery

RESULT=$(/usr/local/bin/task {query} | perl -pe 's/\e\[?.*?[\@-~]//g');
echo $RESULT;</string>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<false/>
	<key>escapequerybrackets</key>
	<false/>
	<key>escapequeryquotes</key>
	<false/>
	<key>escapequerysemicolons</key>
	<false/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>task</string>
	<key>logging</key>
	<false/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Taskwarrior</string>
	<key>title</key>
	<string>Taskwarrior</string>
</dict>
</plist>
