<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13B42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Image Manipulation</string>
	<key>CFBundleExecutable</key>
	<string>Image Manipulation Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSImageManipulationPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Image Manipulation Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>61</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2034a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2034a</string>
	<key>QSActions</key>
	<dict>
		<key>QSImageAsFormatAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSImageManipulationPlugInAction</string>
			<key>actionSelector</key>
			<string>saveImage:asFormat:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>Save Image in Format…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSImageCropAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSImageManipulationPlugInAction</string>
			<key>actionSelector</key>
			<string>cropImage:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>enabled</key>
			<string>NO</string>
			<key>hidden</key>
			<string>YES</string>
			<key>name</key>
			<string>Crop Image</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>QSImageScaleAction</key>
		<dict>
			<key>actionClass</key>
			<string>QSImageManipulationPlugInAction</string>
			<key>actionSelector</key>
			<string>scaleImage:toSize:</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>name</key>
			<string>Scale Image…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Patrick Robertson, Blacktree</string>
		<key>categories</key>
		<array>
			<string>Images</string>
		</array>
		<key>description</key>
		<string>Actions to scale and change format of images</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Overview&lt;/h2&gt;
&lt;p&gt;Actions to scale, change the format of images. Both actions take an argument in Quicksilver's 3rd pane. Examples can be seen below.&lt;/p&gt;
&lt;h2&gt;Actions&lt;/h2&gt;
&lt;dl&gt;
&lt;dt&gt;Scale Image…&lt;/dt&gt;
&lt;dd&gt;This method allows you to scale an image selected in Quicksilver's 1st pane. Various scaling and format options are available, and are listed below.&lt;/dd&gt;
&lt;dt&gt;Save Image in Format…&lt;/dt&gt;
&lt;dd&gt;Saves the image in the format specified. Valid formats include:
  &lt;code&gt;tif&lt;/code&gt;, &lt;code&gt;png&lt;/code&gt;, &lt;code&gt;gif&lt;/code&gt;, &lt;code&gt;bmp&lt;/code&gt;, &lt;code&gt;jpg&lt;/code&gt; (or &lt;code&gt;jpeg&lt;/code&gt;), &lt;code&gt;jpg2&lt;/code&gt; (or &lt;code&gt;jpeg2&lt;/code&gt;)&lt;/dd&gt;
&lt;/dl&gt;
&lt;h3&gt;Scaling Syntax&lt;/h3&gt;
&lt;p&gt;The basic format for the string is (terms in square brackets are optional):&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;SCALING_INFORMATION [as FORMATTING_INFORMATION]
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;where &lt;code&gt;SCALING_INFORMATION&lt;/code&gt; has the format: &lt;/p&gt;
&lt;pre&gt;&lt;code&gt;[fit] WIDTH [x HEIGHT]
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;with &lt;code&gt;WIDTH&lt;/code&gt; and &lt;code&gt;HEIGHT&lt;/code&gt; defined as whole numbers in terms of pixels. For example, "210" means "210px", but it is also possible to type "210px".&lt;/p&gt;
&lt;p&gt;&lt;code&gt;FORMATTING_INFORMATION&lt;/code&gt; has the format:&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;JPG/PNG/GIF/TIFF [low/med/hi] [prog(ressive)] [inter(laced)]
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;which allows you to set the file type, quality of the image and various further options (progressive for &lt;code&gt;.jpg&lt;/code&gt; files and interlaced for &lt;code&gt;.png&lt;/code&gt; files).&lt;/p&gt;
&lt;p&gt;Examples:&lt;/p&gt;
&lt;dl&gt;
&lt;dt&gt;80%&lt;/dt&gt;
&lt;dd&gt;Scales an image to 80% of the original image, keeping the same file format as the input image.&lt;/dd&gt;
&lt;dt&gt;500px x 50px&lt;/dt&gt;
&lt;dd&gt;Scales the image to be 500px in width by 50px in height. The format is kept the same as the original.&lt;/dd&gt;
&lt;dt&gt;x200 as gif&lt;/dt&gt;
&lt;dd&gt;Scales the image to be 200px in height, maintaining the width so as to scale the image. Saves the result as a GIF file.&lt;/dd&gt;
&lt;dt&gt;fit 640x480 as jpg high progressive&lt;/dt&gt;
&lt;dd&gt;Creates a JPEG image that will fit within a 640x480 rectangle and is of high quality with progressive enabled.&lt;/dd&gt;
&lt;dt&gt;50% as interlaced png&lt;/dt&gt;
&lt;dd&gt;Creates a PNG with dimensions half of the original.&lt;/dd&gt;
&lt;/dl&gt;
&lt;h2&gt;Trigger Events&lt;/h2&gt;
&lt;p&gt;Event Triggers can be run when images are resized or reformatted by this plug-in. For both actions, the "Event Trigger Object" will refer to the new image file(s).&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.Preview</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSImageManipulationPlugInAction</key>
			<string>QSImageManipulationPlugInAction</string>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSImageReformatted</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>com.apple.Preview</string>
				<key>name</key>
				<string>Image Format Changed ☿</string>
				<key>provider</key>
				<string>QSImageManipulationPlugInAction</string>
				<key>type</key>
				<string>Image Manipulation</string>
			</dict>
			<key>QSImageResized</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>com.apple.Preview</string>
				<key>name</key>
				<string>Image Scaled ☿</string>
				<key>provider</key>
				<string>QSImageManipulationPlugInAction</string>
				<key>type</key>
				<string>Image Manipulation</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
</dict>
</plist>
