<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13B42</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Screen Capture Plugin</string>
	<key>CFBundleExecutable</key>
	<string>Screen Capture Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSScreenCapturePlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Screen Capture Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.1</string>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2034a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2034a</string>
	<key>NSPrincipalClass</key>
	<string>QSScreenCapturePlugIn</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Images</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>A set of actions that allow capturing the screen</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;Screen Capture Plugin&lt;/h2&gt;
&lt;p&gt;This plugin adds support for using Grab.app to capture portions of your display to image files, which can then be manipulated by Quicksilver.
In order to see the objects added by the Screen Capture Plugin (they are visible in Quicksilver's first pane), you must enable the "Internal Commands" catalog entry, found in the &lt;a href="qs://preferences#QSCatalogPrefPane"&gt;Catalog Preferences&lt;/a&gt; under the "Quicksilver" side tab.&lt;br&gt;
&lt;/p&gt;
&lt;p&gt;Note that all pictures captured with the Screen Capture Plugin are also saved to your Desktop.&lt;/p&gt;
&lt;h3&gt;Command Objects&lt;/h3&gt;
&lt;p&gt;&lt;strong&gt; Capture Region &lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;This command object (run from Quicksilver's 1st pane) enables Grab.app in its "Capture Selection" mode. A cross hair is displayed on screen allowing you to drag a rectangle around what you want captured.
Once complete the captured region is returned to Quicksilver.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt; Capture Window &lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;Similar to the 'Capture Region' command object, 'Capture Window' gives you allows you to capture a whole window, and return the corresponding image to Quicksilver&lt;/p&gt;
&lt;p&gt;&lt;strong&gt; Capture Screen &lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;The 'Capture Screen' command object takes a screenshot of your current screen and returns it to Quicksilver.&lt;/p&gt;
&lt;h3&gt;Trigger Events&lt;/h3&gt;
&lt;p&gt;Event Triggers can be run whenever an image is captured using this plug-in. The "Event Trigger Object" will refer to the image's file.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.Grab</string>
		<key>qsversion</key>
		<string>3525</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSClasses</key>
		<dict>
			<key>QSScreenCapturePlugIn</key>
			<string>QSScreenCapturePlugIn</string>
		</dict>
		<key>QSInternalMessages</key>
		<dict>
			<key>QSCaptureRegionAction</key>
			<dict>
				<key>actionClass</key>
				<string>QSScreenCapturePlugIn</string>
				<key>actionSelector</key>
				<string>captureRegion:</string>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Capture Region</string>
				<key>runInMainThread</key>
				<true/>
			</dict>
			<key>QSCaptureScreenAction</key>
			<dict>
				<key>actionClass</key>
				<string>QSScreenCapturePlugIn</string>
				<key>actionSelector</key>
				<string>captureScreen:</string>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Capture Screen</string>
				<key>runInMainThread</key>
				<true/>
			</dict>
			<key>QSCaptureWindowAction</key>
			<dict>
				<key>actionClass</key>
				<string>QSScreenCapturePlugIn</string>
				<key>actionSelector</key>
				<string>captureWindow:</string>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Capture Window</string>
				<key>runInMainThread</key>
				<true/>
			</dict>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSCapturedRegion</key>
			<dict>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Region Captured ☿</string>
				<key>provider</key>
				<string>QSScreenCapturePlugIn</string>
				<key>type</key>
				<string>Screen Capture</string>
			</dict>
			<key>QSCapturedScreen</key>
			<dict>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Screen Captured ☿</string>
				<key>provider</key>
				<string>QSScreenCapturePlugIn</string>
				<key>type</key>
				<string>Screen Capture</string>
			</dict>
			<key>QSCapturedWindow</key>
			<dict>
				<key>icon</key>
				<string>com.apple.Grab</string>
				<key>name</key>
				<string>Window Captured ☿</string>
				<key>provider</key>
				<string>QSScreenCapturePlugIn</string>
				<key>type</key>
				<string>Screen Capture</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
</dict>
</plist>
