<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13C64</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Remote Hosts</string>
	<key>CFBundleExecutable</key>
	<string>Remote Hosts Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.skurfer.Quicksilver.RemoteHosts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Remote Hosts Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleVersion</key>
	<string>15E</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2034a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2034a</string>
	<key>NSPrincipalClass</key>
	<string>RemoteHostsSource</string>
	<key>QSActions</key>
	<dict>
		<key>AFPBrowse</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>browseWithAFP:</string>
			<key>commandFormat</key>
			<string>Browse AFP shares on %@ in Finder</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>name</key>
			<string>Browse with AFP</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>AFPMount</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>mountWithAFP:withShareName:</string>
			<key>commandFormat</key>
			<string>mount afp://%@/%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Mount share with AFP…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>CIFSBrowse</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>browseWithCIFS:</string>
			<key>commandFormat</key>
			<string>Browse CIFS shares on %@ in Finder</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>name</key>
			<string>Browse with CIFS</string>
			<key>precedence</key>
			<real>0.5</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>CIFSMount</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>mountWithCIFS:withShareName:</string>
			<key>commandFormat</key>
			<string>mount cifs://%@/%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>GenericFileServerIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Mount share with CIFS…</string>
			<key>precedence</key>
			<real>0.5</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingFTP</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithFTP:</string>
			<key>alternateAction</key>
			<string>GetFTPURL</string>
			<key>commandFormat</key>
			<string>ftp %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationFTP</string>
			<key>name</key>
			<string>FTP</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingHTTP</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithHTTP:</string>
			<key>alternateAction</key>
			<string>GetHTTPURL</string>
			<key>commandFormat</key>
			<string>Go to http://%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>HTTP</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingHTTPS</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithHTTPS:</string>
			<key>alternateAction</key>
			<string>GetHTTPSURL</string>
			<key>commandFormat</key>
			<string>Go to https://%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>HTTPS</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingMosh</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithMosh:</string>
			<key>commandFormat</key>
			<string>mosh %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
				<string>QSRemoteHostsGroupType</string>
			</array>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Mobile Shell</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSH</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsDefault:</string>
			<key>alternateAction</key>
			<string>ConnectUsingSSHroot</string>
			<key>commandFormat</key>
			<string>ssh %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
				<string>QSRemoteHostsGroupType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH</string>
			<key>precedence</key>
			<real>1.8</real>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSHroot</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsRoot:</string>
			<key>commandFormat</key>
			<string>ssh root@%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
				<string>QSRemoteHostsGroupType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>SSH as root</string>
			<key>precedence</key>
			<integer>1</integer>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingSSHuser</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectAsUser:withUserName:</string>
			<key>commandFormat</key>
			<string>ssh %@ -l %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
				<string>QSRemoteHostsGroupType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>SSH as…</string>
			<key>precedence</key>
			<integer>1</integer>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingTelnet</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithTelnet:</string>
			<key>commandFormat</key>
			<string>telnet %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
				<string>QSRemoteHostsGroupType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>name</key>
			<string>Telnet</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingTelnetPort</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectToPortWithTelnet:withPortNumber:</string>
			<key>commandFormat</key>
			<string>telnet %@:%@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>com.apple.Terminal</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Telnet to port…</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConnectUsingVNC</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>connectWithVNC:</string>
			<key>commandFormat</key>
			<string>Share Screen on %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationVNC</string>
			<key>name</key>
			<string>Screen Sharing (VNC)</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>ConvertTextToHost</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>convertTextToHost:</string>
			<key>commandFormat</key>
			<string>Use %@ as a remote host</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>icon</key>
			<string>com.apple.xserve</string>
			<key>name</key>
			<string>Use as Remote Host</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>GetFTPURL</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getFTPURL:</string>
			<key>commandFormat</key>
			<string>Select ftp://%@ in Quicksilver</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>InternetLocationFTP</string>
			<key>name</key>
			<string>Get FTP URL</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>GetHTTPSURL</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getHTTPSURL:</string>
			<key>commandFormat</key>
			<string>Select https://%@ in Quicksilver</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>Get HTTPS URL</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>GetHTTPURL</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getHTTPURL:</string>
			<key>commandFormat</key>
			<string>Select http://%@ in Quicksilver</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<true/>
			<key>enabled</key>
			<false/>
			<key>icon</key>
			<string>BookmarkIcon</string>
			<key>name</key>
			<string>Get HTTP URL</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>GetHostInfo</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>getInfo:</string>
			<key>commandFormat</key>
			<string>Display info for %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>ToolbarInfo</string>
			<key>name</key>
			<string>Get Host Info</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
		<key>MSRemoteDesktop</key>
		<dict>
			<key>actionClass</key>
			<string>QSRemoteHostsAction</string>
			<key>actionSelector</key>
			<string>msRemoteDesktop:</string>
			<key>commandFormat</key>
			<string>Connect to desktop on %@</string>
			<key>directTypes</key>
			<array>
				<string>QSRemoteHostsType</string>
			</array>
			<key>displaysResult</key>
			<false/>
			<key>icon</key>
			<string>net.sf.cord</string>
			<key>name</key>
			<string>MS Remote Desktop</string>
			<key>validatesObjects</key>
			<true/>
		</dict>
	</dict>
	<key>QSDefaults</key>
	<dict>
		<key>RemoteHostsDisplayHostname</key>
		<true/>
		<key>RemoteHostsInfoURL</key>
		<string></string>
		<key>RemoteHostsStripDomain</key>
		<true/>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Development</string>
			<string>Miscellaneous</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Provides actions that can be taken on computers</string>
		<key>extendedDescription</key>
		<string>&lt;h2&gt;A Quicksilver plug-in for dealing with a large number of computers&lt;/h2&gt;
&lt;p&gt;Given a text file with a list of machines in it (either hostname, Fully Qualified Domain Name, or IP address), this plug-in indexes them as "remote host" objects and provides the following actions:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;SSH&lt;/li&gt;
&lt;li&gt;SSH as root&lt;/li&gt;
&lt;li&gt;SSH as… [username in 3rd pane]&lt;/li&gt;
&lt;li&gt;Mobile Shell (requires a Terminal plug-in)&lt;/li&gt;
&lt;li&gt;Telnet&lt;/li&gt;
&lt;li&gt;Telnet to port… [port number in 3rd pane]&lt;/li&gt;
&lt;li&gt;FTP&lt;/li&gt;
&lt;li&gt;HTTP&lt;/li&gt;
&lt;li&gt;HTTPS&lt;/li&gt;
&lt;li&gt;Screen Sharing (VNC)&lt;/li&gt;
&lt;li&gt;Browse with CIFS&lt;/li&gt;
&lt;li&gt;Mount share with CIFS… [share name in 3rd pane]&lt;/li&gt;
&lt;li&gt;Browse with AFP&lt;/li&gt;
&lt;li&gt;Mount share with AFP… [share name in 3rd pane]&lt;/li&gt;
&lt;li&gt;MS Remote Desktop [requires the CoRD application]&lt;/li&gt;
&lt;li&gt;Get Host Info&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;There is also a "Use as Remote Host" action that applies to text. If you type a hostname by hand, paste it, or pull it from an application using ⌘⎋ or ⌘G, this action will "convert" it to a remote host in Quicksilver so you can connect to it, etc.&lt;/p&gt;
&lt;p&gt;Some of the above actions also provide "alternate" actions. Hit ⌘↩ instead of ↩ to run the alternate.&lt;/p&gt;
&lt;table&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th&gt;Action&lt;/th&gt;
&lt;th&gt;Alternate&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;SSH&lt;/td&gt;
&lt;td&gt;SSH as root&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;FTP&lt;/td&gt;
&lt;td&gt;Get FTP URL&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;HTTP&lt;/td&gt;
&lt;td&gt;Get HTTP URL&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;HTTPS&lt;/td&gt;
&lt;td&gt;Get HTTPS URL&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;The "Get XYZ URL" actions are useful in situations where you need to paste the URL to a remote machine, or want to open it in something other than the default application.&lt;/p&gt;
&lt;p&gt;Selecting a host in Quicksilver and hitting → or / will provide the following information (if available):&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;
&lt;p&gt;IP Addresses and aliases&lt;/p&gt;
&lt;p&gt;Quicksilver treats these as strings, so you can use "Large Type", paste them into the current application, send them via IM or e-mail, etc.&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;Lights-Out Management&lt;/p&gt;
&lt;p&gt;The LOM address is itself another "remote host" in Quicksilver. With it selected, you can use one of the above actions to connect to it.&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
&lt;p&gt;Host Info URL&lt;/p&gt;
&lt;p&gt;If you've defined a URL in the preferences that provides info for hosts, it will appear here.&lt;/p&gt;
&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;The plug-in will scan &lt;code&gt;~/.hosts&lt;/code&gt; for a list of machines by default. (You can use any file. See below.) The file is treated as UTF-8. It should contain one host per line. The hostname or FQDN should be the first thing on each line, but other metadata is allowed (separated by a single space). A port can also be specified. An example might look like this:&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;server1.example.com
server2
server3.example.com ostype:linux
server4.example.com ostype:linux lom:10.1.2.3 label:test
server5.example.com:8080
appleserver.example.com icon:com.apple.xserve ostype:macosx
windows.example.com ostype:windows
somehost ostype:solaris
webhost1 groups:Web
webhost2 groups:Web
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;You may already have a file like this for completion in your shell. If you have existing metadata in this file, it shouldn't break anything, but it won't necessarily be useful in Quicksilver.&lt;/p&gt;
&lt;p&gt;The plug-in scans for items on each host's line that look like this: &lt;code&gt;key:value&lt;/code&gt;. All such data will be stored along with the host in Quicksilver's catalog, but there are currently only a few that will affect its behavior.&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;code&gt;ostype&lt;/code&gt;: OS type should be a short, generic word, like "solaris", "linux", "windows", etc. Currently, the only behavioral distinction is between "windows" and everything else. The other purpose served by &lt;code&gt;ostype&lt;/code&gt; is to determine an icon for the host. Icons are included for the following OS types:&lt;ul&gt;
&lt;li&gt;bsd&lt;/li&gt;
&lt;li&gt;debian&lt;/li&gt;
&lt;li&gt;fedora&lt;/li&gt;
&lt;li&gt;gentoo&lt;/li&gt;
&lt;li&gt;linux&lt;/li&gt;
&lt;li&gt;netbsd&lt;/li&gt;
&lt;li&gt;opensuse&lt;/li&gt;
&lt;li&gt;redhat&lt;/li&gt;
&lt;li&gt;solaris&lt;/li&gt;
&lt;li&gt;suse&lt;/li&gt;
&lt;li&gt;ubuntu&lt;/li&gt;
&lt;li&gt;unix&lt;/li&gt;
&lt;li&gt;windows&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;&lt;code&gt;icon&lt;/code&gt;: You can specify an icon to use for a host if you don't like its default. This can be a bundle identifier, like "com.apple.Terminal", the name of an icon in the CoreTypes bundle like "com.apple.mac", or the path to an icon or image file. The usual types of images are supported, but they will most likely get squished into a square (depending on which Quicksilver interface you use).&lt;/li&gt;
&lt;li&gt;&lt;code&gt;lom&lt;/code&gt;: The Lights-Out Management address will only apply to fancy, rack-mounted servers that provide some sort of network-based LOM. If you don't know what this means, you probably don't need to worry about it. The information itself should be an IP address, hostname, or FQDN for the system's LOM interface.&lt;/li&gt;
&lt;li&gt;&lt;code&gt;label&lt;/code&gt;: By default, all hosts in your catalog will be labeled with their hostname, FQDN, or IP address (as it appears in your file). Setting a label in the file will append to the default, not replace it. Quicksilver searches the text in the label as you type to search for things. If you have many hosts with similar names, they can be hard to get to quickly. Using this item to append to the label can be useful to group or "tag" systems for faster searching.&lt;/li&gt;
&lt;li&gt;&lt;code&gt;groups&lt;/code&gt;: A comma separated list of groups you want the host to belong to. Names can't contain spaces at this time. More information on using groups can be found under Tips.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;You can optionally pull hosts from &lt;code&gt;~/.ssh/known_hosts&lt;/code&gt;. There is a preset (disabled by default) under "Remote Hosts" in the Plugins section of the Catalog. If you want to get hosts from an arbitrary file, add a new custom catalog entry and choose "Remote Hosts" from the drop-down, then choose the file for the new entry.&lt;/p&gt;
&lt;h3&gt;Preferences&lt;/h3&gt;
&lt;dl&gt;
&lt;dt&gt;Display Hostnames&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;If hosts are defined using their fully qualified domain names, you can choose to display only the hostname in the main interface.&lt;/p&gt;
&lt;p&gt;You will still be able to search for the FQDN, and the FQDN will still be used when running actions.&lt;/p&gt;
&lt;/dd&gt;
&lt;dt&gt;Host Info URL&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;If you have a web-based front end for an inventory or monitoring tool that can provide information about individual hosts, you can define the URL here. Put &lt;code&gt;***&lt;/code&gt; in the URL where you want the hostname to appear. For example, if http://info.domain.tld/summary/webhost1 provides information for &lt;code&gt;webhost1&lt;/code&gt;, you could define the URL as http://info.domain.tld/summary/***.&lt;/p&gt;
&lt;p&gt;If this is left blank, the Get Host Info action will not be available.&lt;/p&gt;
&lt;/dd&gt;
&lt;dt&gt;Use hostname in URL&lt;/dt&gt;
&lt;dd&gt;
&lt;p&gt;If you have hosts in your catalog using their Fully Qualified Domain Name, but the info URL expects the hostname, enable this preference to remove the domain.&lt;/p&gt;
&lt;/dd&gt;
&lt;/dl&gt;
&lt;h3&gt;Tips&lt;/h3&gt;
&lt;p&gt;After installation, you may want to check the precedence of the actions and make sure they're to your liking. The actions only apply to "remote hosts" in the catalog, so moving them up rather high on the list shouldn't interfere with other tasks. You may also want to disable some of the ones you never think you'll use.&lt;/p&gt;
&lt;p&gt;For more than a few machines, you should use a script to generate a &lt;code&gt;.hosts&lt;/code&gt; file from DNS, LDAP, a database, or some other authoritative source if possible, rather than managing it by hand. You might also schedule a job to update the file on a regular basis.&lt;/p&gt;
&lt;p&gt;For hosts you want to frequently connect to at the same time, you can assign them to one or more groups in the scanned file. Any groups you define will be added to the catalog. You can search for them by name, or by name plus "Remote Host Group". You can use the SSH and Telnet actions to connect to all hosts in the group. Hitting → or / will reveal the group's members.&lt;/p&gt;
&lt;p&gt;If you find yourself using "SSH as…" frequently, you may want to add something like this to your &lt;code&gt;~/.ssh/config&lt;/code&gt;:&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;Host server.domain
  User someuser
&lt;/code&gt;&lt;/pre&gt;
&lt;p&gt;See the &lt;code&gt;ssh_config(5)&lt;/code&gt; man page for details.&lt;/p&gt;
&lt;p&gt;For &lt;strong&gt;iTerm&lt;/strong&gt; users, the SSH and Telnet actions are intentionally not specific to Terminal. They simply send an address to the OS to be opened. Configure your system to open &lt;code&gt;ssh://&lt;/code&gt; and &lt;code&gt;telnet://&lt;/code&gt; locations using iTerm if you want to use that instead of Terminal.&lt;/p&gt;
&lt;p&gt;Finally, don't forget the "comma trick". You can select multiple hosts using the comma or ⌘A, then connect to them all at once.&lt;/p&gt;
&lt;hr&gt;
&lt;p&gt;This plug-in uses icons from the &lt;a href="http://openiconlibrary.sourceforge.net/"&gt;Open Icon Library&lt;/a&gt;.&lt;/p&gt;</string>
		<key>icon</key>
		<string>com.apple.xserve</string>
		<key>relatedPaths</key>
		<array>
			<string>~/.hosts</string>
			<string>~/.ssh/known_hosts</string>
		</array>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSRemoteHostsGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetHostList</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>com.apple.xserve</string>
					<key>name</key>
					<string>~/.hosts</string>
					<key>settings</key>
					<dict>
						<key>path</key>
						<string>~/.hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSRemoteHostsSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetKnownHosts</string>
					<key>enabled</key>
					<false/>
					<key>icon</key>
					<string>com.apple.xserve</string>
					<key>name</key>
					<string>~/.ssh/known_hosts</string>
					<key>settings</key>
					<dict>
						<key>path</key>
						<string>~/.ssh/known_hosts</string>
						<key>skipItem</key>
						<true/>
					</dict>
					<key>source</key>
					<string>QSRemoteHostsSource</string>
				</dict>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>com.apple.xserve</string>
			<key>name</key>
			<string>Remote Hosts</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>QSRemoteHostsAction</key>
			<string>QSRemoteHostsAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.Terminal</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSRemoteHostsGroupType</key>
			<string>QSRemoteHostsSource</string>
			<key>QSRemoteHostsType</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>QSRemoteHostsSource</key>
			<string>QSRemoteHostsSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>RemoteHostsPrefPane</key>
			<dict>
				<key>class</key>
				<string>RemoteHostsPrefPane</string>
				<key>description</key>
				<string>Remote Hosts Preferences</string>
				<key>icon</key>
				<string>com.apple.xserve</string>
				<key>name</key>
				<string>Remote Hosts</string>
				<key>nibBundle</key>
				<string>com.skurfer.Quicksilver.RemoteHosts</string>
				<key>nibName</key>
				<string>RemoteHostsPrefPane</string>
			</dict>
		</dict>
		<key>QSTypeDefinitions</key>
		<dict>
			<key>QSRemoteHostsGroupType</key>
			<dict>
				<key>icon</key>
				<string>com.apple.xserve</string>
				<key>name</key>
				<string>Remote Host Group</string>
			</dict>
			<key>QSRemoteHostsType</key>
			<dict>
				<key>icon</key>
				<string>com.apple.xserve</string>
				<key>name</key>
				<string>Remote Hosts</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>4001</string>
	</dict>
</dict>
</plist>
